doctype html
html
  head
    title Today's proverb:
    link(rel='stylesheet', href='css/proverbs.css')
    link(rel='shortcut icon', href='favicon.ico')
    script(src='bower_components/countUp.js/countUp.min.js')

  body
    block content
