doctype html
html
  head
    title Today's proverb:
    link(rel='stylesheet', href='proverb/css/proverbs.css')
    script(src='proverb/bower_components/countUp.js/countUp.min.js')
    script.
      // countUp options
      var options = {
        useEasing : false, 
        useGrouping : false, 
        separator : ',', 
        decimal : '.' 
      }

  body
    block content