doctype html
html
  head
    title Today's proverb:
    link(rel='stylesheet', href='css/proverbs.css')
    link(rel='shortcut icon', href='favicon.ico?v=2')
    script(src='bower_components/countUp.js/countUp.min.js')
    script.
      // countUp options
      var options = {
        useEasing : false, 
        useGrouping : false, 
        separator : ',', 
        decimal : '.' 
      }

  body
    block content
